<div class="header-wrapper">
    <!--Main Header-->
    <nav class="navbar navbar-expand-md main-header p-0" id="main-header">
        <div class="containerr w-100 p-0 header-inner">
            <!-- <a routerLink="/" class="navbar-brand">IMEG Corp. </a> -->
            <img class="logo p-0 m-0 float-left" src="assets/images/IMEGLogo.png">
            <button class="navbar-toggler" type="button" (click)="toggleNavBar()" [attr.aria-expanded]="showNav" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
           <span class="navbar-toggler-icon">
             <!-- <i class="fa fa-bars" aria-hidden="true"></i>-->
               <img src="assets/images/mob-menu.png" height="20" width="20">
             </span> 
         </button>
            <div class="collapse navbar-collapse" [class.show]="showNav" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li *ngIf="authService.authenticated" class="nav-item">
                        <!-- <div class="nav-link" *ngIf="authService.authenticated">
               Welcome {{authService.user.displayName}} !
              </div>  -->
                    </li>
                </ul>
                <ul class="navbar-nav justify-content-end d-flex flex-row">
                    <li *ngIf="authService.authenticated" class="nav-link">
                        <!-- <i class="fa fa-user fa-2x"></i> -->
                        <img src="assets/images/userIcon.png" height="24" width="24">
                    </li>
                    <li *ngIf="authService.authenticated" class="nav-link user-name">
                        {{authService.user.displayName}}
                    </li>
                    <li *ngIf="authService.authenticated" ngbDropdown placement="bottom-right" class="nav-item">
                        <a ngbDropdownToggle id="userMenu" class="nav-link" href="javascript:undefined" role="button" aria-haspopup="true" aria-expanded="false">
                            <div *ngIf="authService.user && authService.user.avatar; then userAvatar else defaultAvatar"></div>
                            <ng-template #userAvatar>
                                <img src="authService.user.avatar" class="rounded-circle align-self-center mr-2" style="width: 32px;">
                            </ng-template>
                            <ng-template #defaultAvatar>
                                <fa-icon [icon]="[ 'far', 'user-circle' ]" fixedWidth="true" size="lg" class="rounded-circle align-self-center mr-2"></fa-icon>
                            </ng-template>
                        </a>
                        <div ngbDropdownMenu aria-labelledby="userMenu">
                            <h5 *ngIf="authService.user" class="dropdown-item-text mb-0">{{authService.user.displayName}}</h5>
                            <p *ngIf="authService.user" class="dropdown-item-text text-muted mb-0">{{authService.user.email}}</p>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="javascript:undefined" role="button" (click)="signOut()">Sign Out</a>
                        </div>
                    </li>
                    <li *ngIf="!authService.authenticated" class="nav-item">
                        <a class="nav-link" href="javascript:undefined" role="button" (click)="signIn()"><i class="fa fa-user fa-2x">&nbsp;</i>Sign In</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>