<div class="container wrapper wrapper2">
    <div class="row">
        <div class="col-md-8" style="margin-top: 100px;margin-left: 200px;">
            <form>
                <table>
                    <tr style="padding-bottom: 21px;">
                        <b><u><td>
                            Sing In Active Directory
                        </td></u></b>
                    </tr>
                   
                    <tr>
                        <td style="padding-top: 30px;">
                            <button type="submit" formaction="https://contoso.azurewebsites.net/.auth/login/aad/callback">Sign In</button>
                        </td>
                    </tr>
                </table>
                
                
            </form>


        </div>
    </div>
</div>

