@import "main-styles";
.logo {
    height: 20px;
    width: 90px;
    display: block;
    margin: 0 auto;
}

#top-header {
    color: #fff;
    position: relative;
    display: block;
}

#top-header p {
    text-align: center;
}

#main-header {
    background: #fff;
}

.nav-link {
    font-size: 12px;
    font-weight: 600;
    color: #827b7b;
    padding: .3rem .1rem !important;
}

li.user-name,
li a {
    padding-top: 0.6rem !important;
}

li a {
    padding-right: 1rem !important;
}